body {
    background: url("/images/yard-sale.jpg") no-repeat center;
    background-size: contain;
}

.welcome {
    border-radius: 25px;
    background-color: rgba(211, 211, 211, 0.75);
    padding-bottom: 12px;
}
