body {
    background: url("/images/Yellow.jpg") no-repeat;
    background-blend-mode: lighten;
    background-size: cover;
    font-family: 'Yantramanav', sans-serif;
}
.container {
    height:100%;
}

.welcome, .ads_header, .ads_display_by_col, .ads_result, .login_header {
    border-radius: 25px;
    background-color: rgba(211, 211, 211, 0.75);
    margin-bottom: 15px;
}

.ads_display_by_col {
    margin-top: 20px;
    /*margin-right: 10px;*/
}

h1, h2, h3, h4, h5, h6, a {
    color: black;
}

#profile_pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: rgba(211, 211, 211, 0.75)!important;
    border-color: #bce8f1;
}

.no_display_btn {
    display: inline;
}

#btn_move_to_the_right {
    position: relative;
    left: 50px;
}
#footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:25px;   /* Height of the footer */
    background-color: rgba(211, 211, 211, 0.75);
    text-align: center;
}

.carousel_text, .categories_text {
    background-color: rgba(211, 211, 211, 0.75);
    font-family: 'Yantramanav', sans-serif;
    color: black;
    text-shadow: none;
}
